receivers:
  otlp:
    protocols:
      http:
      grpc:

exporters:
  otlphttp:
    endpoint: http://jaeger:4318/v1/traces

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [jaeger]