spring:
  application:
    name: crypto-service
  profiles:
    active: dev

default:
  encodingalgo: Base64
  hashingalgo: Argon2
  passwordlength: 8


server:
  port: 8100

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

management:
  tracing:
    sampling:
      probability: 1.0

  otlp:
    tracing:
      endpoint: http://otel-collector:4318/v1/traces
